CasePlugin/ICasePlugin/Web References/XCaseService/CaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="CaseService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="CaseService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="CaseService">
      <s:element name="GetCaseNumber">
        <s:complexType />
      </s:element>
      <s:element name="GetCaseNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCaseNumberResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Uploads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:MessageClass" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CaseID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateReceived" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateSent" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Attachment" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType />
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsValidated">
        <s:complexType />
      </s:element>
      <s:element name="IsValidatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCaseNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetCaseNumber" />
  </wsdl:message>
  <wsdl:message name="GetCaseNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetCaseNumberResponse" />
  </wsdl:message>
  <wsdl:message name="UploadsSoapIn">
    <wsdl:part name="parameters" element="tns:Uploads" />
  </wsdl:message>
  <wsdl:message name="UploadsSoapOut">
    <wsdl:part name="parameters" element="tns:UploadsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidatedSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidated" />
  </wsdl:message>
  <wsdl:message name="IsValidatedSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidatedResponse" />
  </wsdl:message>
  <wsdl:portType name="CaseServiceSoap">
    <wsdl:operation name="GetCaseNumber">
      <wsdl:input message="tns:GetCaseNumberSoapIn" />
      <wsdl:output message="tns:GetCaseNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uploads">
      <wsdl:input message="tns:UploadsSoapIn" />
      <wsdl:output message="tns:UploadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidated">
      <wsdl:input message="tns:IsValidatedSoapIn" />
      <wsdl:output message="tns:IsValidatedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaseServiceSoap" type="tns:CaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCaseNumber">
      <soap:operation soapAction="CaseService/GetCaseNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uploads">
      <soap:operation soapAction="CaseService/Uploads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="CaseService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="CaseService/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidated">
      <soap:operation soapAction="CaseService/IsValidated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseServiceSoap12" type="tns:CaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCaseNumber">
      <soap12:operation soapAction="CaseService/GetCaseNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uploads">
      <soap12:operation soapAction="CaseService/Uploads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="CaseService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="CaseService/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidated">
      <soap12:operation soapAction="CaseService/IsValidated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaseService">
    <wsdl:port name="CaseServiceSoap" binding="tns:CaseServiceSoap">
      <soap:address location="http://localhost:49972/CaseService/CaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="CaseServiceSoap12" binding="tns:CaseServiceSoap12">
      <soap12:address location="http://localhost:49972/CaseService/CaseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>